@model ChequeWriting_System.Models.ChequeWriting

@{
    ViewBag.Title = "Home Page";
}


@*<form asp-action="Put" asp-controller="Home">
        <input asp-for="Number" placeholder="Please write the cheque here." />
        <input type="submit" />
    </form>*@


<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="number" name="Number" id="Number" multiple />
        <input type="submit" name="submit" value="Upload" />
    }
</p>
<textarea></textarea>



